* {
    font-family: "Amatic SC", cursive;
    
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}




header {
    text-align: center;
    font-family: "Amatic SC";
    font-weight: bold;
    font-size: 28px;
    height: 150px;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #9dd8d3;
}


.frame {
    display: inline-block;
    padding: 15px 10px 45px 10px;
    box-shadow: 
        6px 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
    background-color: #fff;
}
.canvas {
    width: 350px;
    height: 350px;
    background-color: rgba(250, 225, 203, 1);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    position: relative;
}

.inactive {
    background-color: lightgrey;
}

.pan {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes cook {
    from {background-color:rgba(256, 256, 256, 0.3);}
    to {background-color:rgba(256, 256, 256, 1); box-shadow: none;}
}


.egg-outer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(256, 256, 256, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 0 0 #fff, 
        -8px 0 0 rgba(256, 256, 256, 0.2), 
        0 0 10px rgba(256, 256, 256, 0.7), 
        0 -5px 0 rgba(256, 256, 256, 0.2);
    border-top: 2px solid rgba(256, 256, 256, 0.5);
    border-left: 2px solid rgba(256, 256, 256, 0.5);
    animation-name: cook;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}



.pan:hover {
    cursor: pointer;
}

.egg-inner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(253, 183, 54, 1); 
}

.desc {
    font-family: "Amatic SC";
    font-size: 24px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.logo {
    text-align: center;
    line-height: 100px;
    font-size: 28px;
}

.desc span{
    font-size: 12px;
}

/***********day2**********/

.day2 {
    position: relative;
    background-color: #214a96;
    animation-name: back-color;
    animation-fill-mode: forwards;
    animation-duration: 15s;
}

.tree-body {
    border-bottom: 320px solid #000;
    border-left: 13px solid transparent;
    border-right: 16px solid transparent;
    width: 18px;
    height: 0;
    position: absolute;
    bottom: 0;
    animation: layer 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.branch-rt {
    border-bottom: 130px solid #000;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 8px;
    height: 0;
    position: absolute;
    left: 200px;
    bottom: 180px;
    transform: rotate(35deg);
    animation: layer 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.branch-lt {
    border-bottom: 120px solid #000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 8px;
    height: 0;
    position: absolute;
    right: 210px;
    bottom: 200px;
    transform: rotate(-45deg);
    animation: layer-r 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.branch-rb {
    border-bottom: 150px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
    height: 0;
    position: absolute;
    right: 230px;
    bottom: 100px;
    transform: rotate(-55deg);
    animation: layer-r 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.branch-lb {
    border-bottom: 150px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
    height: 0;
    position: absolute;
    left: 230px;
    bottom: 80px;
    transform: rotate(50deg);
    animation: layer 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes snowing {
    from {top:0; left: 100px;}
    to {top:340px; left: 103px;}
}

@keyframes snowing2 {
    from {top:0; left: 200px;}
    to {top:340px; left: 205px;}
}

@keyframes layer {
    from {border-left: none;}
    to {border-left: 8px solid rgba(256, 256, 256, 0.9)}
}


@keyframes layer-r {
    from {border-right: none;}
    to {border-right: 8px solid rgba(256, 256, 256, 0.9)}
}

@keyframes back-color{
    from {background: #214a96;}
    to {background:#1a3c68;}
}

.snow-1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(256, 256, 256,0.5);
    border: 1px solid rgba(256,256,256,0.8);
    margin: 0px 30px;
    position: absolute;
    left: 100px;
    top: 0px;
    animation: snowing 3s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in;
}

.snow-2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(256, 256, 256,0.8);
    border: 1px solid rgba(256,256,256,1);
    margin: 0px 30px;
    position: absolute;
    left: 180px;
    top: -3px;
    animation: snowing2 3s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}


@keyframes clock-wise-second {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

@keyframes clock-wise-minute {
    from {transform: rotate(-2deg);}
    to {transform: rotate(0deg)}
}

@keyframes clock-wise-hour {
    from {transform: rotate(26deg);}
    to {transform: rotate(30deg)}
}


.clock-circle {
    width: 200px;
    height: 200px;
    border: 8px solid #000;
    border-radius: 50%;
    position: relative;
    box-sizing: content-box;
    background-color: #fff;
    
}


.hour {
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 60px solid #000;
    position: absolute;
    left: 48.5%;
    top: 50%;
    transform-origin: 0% 0%;
    transform: rotate(25deg);
    animation-name: clock-wise-hour;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    box-shadow: 0px -6px 0 #000;
    border-radius: 2px;
    animation-iteration-count: 5;
}

.minute {
    /***width: 5px;
    padding-bottom: 140px;
    background-color: #000;***/
    position: absolute;
    left: 48.5%;
    bottom: 50%;
    transform-origin: 0% 100%;
    transform: rotate(-2deg);  
    animation-name: clock-wise-minute;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 9s;
    animation-iteration-count: 5;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 90px solid #000;
    box-shadow: 0px 10px 0 #000;
    border-radius: 2px;
}

.second {
    width: 1px;
    padding-bottom: 100px;
    background-color: red;
    position: absolute;
    left: 50%;
    bottom: 49%;
    transform-origin: 0% 100%;
    transform: rotate(0deg);  
    animation-name: clock-wise-second;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.clock-point {
    width: 3px;
    padding-bottom: 200px; 
    position: absolute;
    left: 50%;
    transform-origin: 0% 50%;
    background-color: #000;
}

.inner-circle {
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}



.clock-point:nth-child(2) {
    transform-origin: 0% 50%;
    transform: rotate(30deg);
}

.clock-point:nth-child(3) {
    transform-origin: 0% 50%;
    transform: rotate(60deg);
}

.clock-point:nth-child(4) {
    transform-origin: 0% 50%;
    transform: rotate(90deg);
}

.clock-point:nth-child(5) {
    transform-origin: 0% 50%;
    transform: rotate(120deg);
}

.clock-point:nth-child(6) {
    transform-origin: 0% 50%;
    transform: rotate(150deg);
}

.day3 {
    background-color: rgba(251, 246, 211, 0.7);
}

.shadow {
    width: 0;
    height:0 ;
    border-top: 220px solid rgba(212, 206, 208, 0.2);
	border-right: 350px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
